fastapi==0.104.1
uvicorn==0.24.0.post1
pydantic==2.4.2
confluent-kafka==2.3.0
psycopg2-binary==2.9.9
SQLAlchemy==2.0.23
ortools==9.8.3296
folium==0.16.0
pandas==2.2.1
numpy==1.26.4
scikit-learn==1.4.1.post1
tensorflow-cpu==2.15.0